[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
blis = "*"
catalogue = "*"
certifi = "*"
chardet = "*"
click = "*"
cymem = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
joblib = "*"
murmurhash = "*"
numpy = "*"
oauthlib = "*"
pathy = "*"
preshed = "*"
psycopg2 = "*"
pydantic = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
requests-oauthlib = "*"
requests = "*"
scipy = "*"
six = "*"
smart-open = "*"
srsly = "*"
thinc = "*"
threadpoolctl = "*"
tqdm = "*"
tweepy = "*"
typer = "*"
urllib3 = "*"
wasabi = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PySocks = "*"
SQLAlchemy = "*"
Werkzeug = "*"
py-openaq = "*"
matplotlib = "*"
scikit-learn = "==0.22.2.post1"
tensorflow-cpu = "*"

[dev-packages]

[requires]
python_version = "3.8"
